<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">DTU Ninja</a>
    </div>
  </div>
</nav>

<div class='study-planner-container'>
  <div class="row">
    <div class="col-sm-7">
      <h3>Upcoming semesters</h3>
      {{#each upcomingSemesters}}
        <div class="study-plan-schedule">
          <div class="study-plan-schedule-title"><h4>{{title}}</h4></div>
          <div class="study-plan-schedule-ects-counter">
            {{ectsPointsPlanned}} / {{ectsPointsNeeded}} ECTS points
          </div>
          <div class="study-plan-clearfix"></div>
          <table class="study-plan-schedule-table">
            <tr>
              <td class="study-plan-schedule-block-time">8-12</td>
              {{schedule-block block='1A'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='3A'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='5A'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='2B'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='4B'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
            </tr>
            <tr>
              <td class="study-plan-schedule-block-time">13-17</td>
              {{schedule-block block='2A'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='4A'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='5B'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='1B'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
              {{schedule-block block='3B'
                               season=season
                               coursePlanningsForScheduleYear=coursePlanningsForSemester
                               tagName='td'
                               classNames='study-plan-schedule-block'}}
            </tr>
          </table>

          {{schedule-block season=threeWeekSeason
                           coursePlanningsForScheduleYear=coursePlanningsForSemester
                           classNames='study-plan-schedule-three-week-course'}}

          {{#if hasAnyOffSchedulePlannings}}
            <h4>Courses outside normal schedules</h4>
            {{#each coursePlanningsOffSchedule}}
              {{course.courseNumber}} {{course.title}}
              <button type="button" class="btn btn-danger" {{action 'unscheduleCourse' this}}>
                <span class="glyphicon glyphicon-remove"></span>
              </button>
              {{course-planning-category-selector coursePlanning=this}}
            {{/each}}
          {{/if}}
        </div>
      {{/each}}
    </div>
    <div class="col-sm-5">
      <div class="course-planner-status">
        <div class="course-planner-status-counter">
          <div class="course-planner-status-counter-amount">
            {{ectsPointsPlanned}} / {{ectsPointsNeeded}}
          </div>

          <div class="course-planner-status-counter-unit">
            ECTS points
          </div>
        </div>
        <div class="course-planner-status-progress-bar">
          <div class="progress">
            {{kb-progressbar progress=progress}}
          </div>
        </div>
      </div>
      <div class="course-basket">
        <h4>Kursuskurv</h4>
        <div class="row">
          {{#each coursePlanning in unscheduledCoursePlannings}}
            <div class="course-basket-course">
              {{add-to-study-plan coursePlanning=coursePlanning upcomingSemesters=upcomingSemesters}}
              <div class="course-basket-course-information">
                <div class="course-basket-course-title">
                  {{coursePlanning.course.courseNumber}} {{coursePlanning.course.title}}
                </div>
                <div class="course-basket-course-ects">
                  {{coursePlanning.course.ectsPoints}} ECTS
                </div>
              </div>
              {{course-planning-category-selector coursePlanning=coursePlanning}}
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
