<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">DTU Ninja</a>
    </div>
  </div>
</nav>

<div class='container'>
  <h1>Hej {{studentNumber}}</h1>
  <div class="row">
    <div class="col-sm-7">
      <h3>Upcoming semesters</h3>
      {{#each upcomingSemesters}}
        <h4>{{title}}</h4>
        <table class="study-plan-schedule">
          <tr>
            <td class="study-plan-schedule-block-time">8-12</td>
            {{schedule-block block='1A' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='3A' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='5A' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='4A' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='3A' plannedCourses=coursePlanningsForSemester}}
          </tr>
          <tr>
            <td class="study-plan-schedule-block-time">13-17</td>
            {{schedule-block block='2A' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='4A' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='5B' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='1B' plannedCourses=coursePlanningsForSemester}}
            {{schedule-block block='3B' plannedCourses=coursePlanningsForSemester}}
          </tr>
        </table>
      {{/each}}
    </div>
    <div class="col-sm-5">
      <div class="course-basket">
        <h4>Kursuskurv</h4>
        <div class="row">
          {{#each coursePlanning in unscheduledCoursePlannings}}
            <div class="course-basket-course">
              {{add-to-study-plan semesters=upcomingSemesters
                                  course=coursePlanning
                                  setPlannedCourseSemester='setPlannedCourseSemester'}}
              <div class="course-basket-course-information">
                <div class="course-basket-course-title">
                  {{coursePlanning.course.courseNumber}} {{coursePlanning.course.title}}
                </div>
                <div class="course-basket-course-ects">
                  {{coursePlanning.course.ectsPoints}} ECTS
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
      <div class="course-planner-status">
        <div class="course-planner-status-counter">
          <div class="course-planner-status-counter-amount">
            {{ectsPointsTotal}} / {{ectsPointsInSemester}}
          </div>

          <div class="course-planner-status-counter-unit">
            ECTS points
          </div>
        </div>
        <div class="course-planner-status-progress-bar">
          <div class="progress">
            {{kb-progressbar progress=progress}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
